/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.navbar-nav .nav-link {
  color: #ffffff !important;
}

.table th{
  padding: 15px !important;
}
.table td {
  padding: 15px !important;
}

.table {
  border-top: 1px solid #dee2e6;
}
.table tr:last-child td {
  border-bottom: none !important;
}
.user_info_table tr:last-child th {
  border-bottom: none !important;
}

.comment-table {
  border-style: none !important;
}
.comment-table td {
  padding: 8px !important; 
  vertical-align: middle;
}
.comment-table .comment-user {
  width: 150px;
  text-align: center;
}

.comment-table .comment-delete {
  width: 100px;
  text-align: center;
}

main a {
  text-decoration: none !important;
}
main a:hover {
  text-decoration: underline !important;
}
main a.btn:hover {
  text-decoration: none !important;
}

label{
  padding-bottom: 7px;
}

